<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"><head>
    <meta charset="UTF-8">
    <title>Main Page</title>

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
<div class="container mt-5">
    <h1>Oops! Something went wrong.</h1>
    <div class="alert alert-danger" role="alert">
        <strong>Error Details:</strong> <span th:text="${error}">Error details</span>
    </div>
    <p th:text="${message}">Some additional text or explanation here.</p>
    <a href="/" class="btn btn-primary">Go Home</a>
</div>
</body>
</html>
